@media print {
    /*
      @page {
          size: 210mm 297mm;
          margin: 10mm;
      }
      */
    main {
      width: 1024px !important;
    }
    div[class|="col-"] {
      float: left !important;
    }
    a[href]:after {
      content: "" !important;
    }
    .show-web-only {
      display: none !important;
    }
    .show-print-only {
      display: block !important;
    }
  
    section {
      width: 100%;
      margin: 15px auto;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 0px;
    }
  
    header {
      background-image: none;
      height: auto;
    }
    header h1 {
      display: none;
    }
  
    header nav {
      position: relative;
      width: 70%;
      margin: 30px auto;
    }
  
    header nav p.logo {
      padding: 0px;
      font-size: 120%;
    }
  
    header nav ul.nav-items li {
      padding: 0px;
      border-right: 0px;
    }
  
    .skills {
      page-break-after: always;
    }
  
    section.skills figure.figure-skills img {
      width: auto;
      height: 100px;
  }

    section.contact {
      display: none;
  }
  
    footer {
      display: none;
    }
  
    footer a i.far {
      display: none;
    }
  }